@import 'styles/variables';
@import 'styles/mixins';

.icon {
    font-size: rem(22);
    color: $gray-color;
    cursor: pointer;
    transition: $transition;
    width: 20px;
    height: 20px;

    &:hover {
        color: $text-color;
    }
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.spinner:after {
    content: ' ';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid $gray-color;
    border-color: $gray-color $gray-color $gray-color transparent;
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
