@import 'styles/mixins';
@import 'styles/variables';

.wrapper {
    position: relative;
    z-index: 2;
}

.burger {
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
        font-size: rem(25);
        cursor: pointer;
        transition: $transition;

        &:hover {
            color: rgba($white-color, 0.7);
        }
    }

    .logo {
        font-size: rem(20);
        transition: $transition;
        border-bottom: 1px solid transparent;
        padding-bottom: 2px;

        &:hover {
            border-bottom: 1px solid rgba($white-color, 0.7);
        }
    }
}
