@import 'styles/variables';
@import 'styles/mixins';

.list {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.empty {
    display: block;
    text-align: center;
    font-size: rem(18);
    font-weight: 700;
    color: $gray-color;
}

.spinner {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner > div {
    width: 10px;
    height: 10px;
    margin: 0.2rem;
    background: $gray-color;
    border-radius: 50%;
    animation: spinner 0.6s infinite alternate;
}

.spinner > div:nth-child(2) {
    animation-delay: 0.2s;
}

.spinner > div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes spinner {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}
