@import 'styles/variables';
@import 'styles/mixins';

.wrapper {
    max-width: 450px;
    width: 100%;
    position: relative;
    z-index: 100;
}

.input {
    background: $bg-opacity-color;
    border: 2px solid $bg-opacity-color;
    padding: 10px 15px;
    border-radius: 8px;
    outline: none;
    width: 100%;
    color: $text-color;
    font-weight: 700;
    font-size: rem(15);
    transition: $transition;
    padding-right: 42px;

    &::placeholder {
        font-weight: 700;
    }

    &:hover {
        background: $bg-color;
    }

    &__wrapper {
        position: relative;

        .icon {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translate(-50%, -50%);
            color: $text-color;
            cursor: pointer;
        }
    }
}
